@model Department

<form method="post">
    <div class="mb-3">
        <label asp-for="name" for="formGroupExampleInput" class="form-label">Department Name</label>
        <input type="text" asp-for="name" class="form-control" id="formGroupExampleInput" placeholder="enter Department name">
    </div>
    <input type="submit" value="Add new Department" class="btn btn-success" />
</form>