@model Department
<div class="alert-success" style=" padding:8px ">
    <table>
        <tr>
            <th>Id</th>
            <td> @Model.id</td>
        </tr>
        <tr>
            <th>Name</th>
            <td> @Model.name</td>
        </tr>
        <tr>
            <th>Employees Name</th>
        @foreach (var item in Model.Employees)
        {   
            <td> @item.Name</td>
        }
        </tr>
    </table>
</div>